---
import Layout from "../layouts/Layout.astro";
import Progress from "../components/Progress.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>The โง่ Hackathon ครั้งที่ 7 เเห่งประเทศ Thailand</h1>
    <Progress value={100} />
  </main>
</Layout>
