---
import Layout from "../layouts/Layout.astro";
import Progress from "../components/Progress.astro";
---

<Layout
  title="The โง่ Hackathon ครั้งที่ 7 เเห่งประเทศ Thailand"
  description="หลังจากที่ได้รับการตอบรับเป็นอย่างดีมาตลอดใน The Stupid Hackathon Thailand ทั้ง 6 ครั้ง, ปีนี้เรากลับมาแล้วกับ The โง่ Hackathon ครั้งที่ 7 แห่งประเทศ Thailand!"
>
  <main>
    <h1 class="text-6xl font-bold">
      The โง่ Hackathon ครั้งที่ 7 เเห่งประเทศ Thailand
    </h1>
    <Progress value={100} />
  </main>
</Layout>
