---
import Layout from "../layouts/Layout.astro";
import Landing from "../sections/Landing.astro";
import Details from "../sections/Details.astro";
import CoorperateSpon from "../sections/CoorperateSpon.astro";
import IndividualSpon from "../sections/IndividualSpon.astro";
---

<Layout
  title="The โง่ Hackathon ครั้งที่ 7 เเห่งประเทศ Thailand"
  description="หลังจากที่ได้รับการตอบรับเป็นอย่างดีมาตลอดใน The Stupid Hackathon Thailand ทั้ง 6 ครั้ง, ปีนี้เรากลับมาแล้วกับ The โง่ Hackathon ครั้งที่ 7 แห่งประเทศ Thailand!"
>
  <main class="flex flex-col items-center gap-4 px-16">
    <Landing />
    <Details />
    <CoorperateSpon />
    <IndividualSpon />
  </main>
</Layout>
