---
import Layout from "../layouts/Layout.astro";
import Progress from "../components/Progress.astro";

const progress = 69;
---

<Layout
  title="The โง่ Hackathon ครั้งที่ 7 เเห่งประเทศ Thailand"
  description="หลังจากที่ได้รับการตอบรับเป็นอย่างดีมาตลอดใน The Stupid Hackathon Thailand ทั้ง 6 ครั้ง, ปีนี้เรากลับมาแล้วกับ The โง่ Hackathon ครั้งที่ 7 แห่งประเทศ Thailand!"
>
  <main class="flex flex-col items-center gap-4 py-16">
    <h1 class="text-6xl font-bold">
      The โง่ Hackathon ครั้งที่ 7 เเห่งประเทศ Thailand
    </h1>
    <Progress value={progress} />
    <p class="text-4xl font-bold">สำเร็จ {progress}%</p>

    <section class="flex flex-col gap-4 py-16">
      <h2 class="text-6xl font-bold">
        <p>Hall of</p>
        <p>เกียรติยศ</p>
      </h2>

      <div class="grid grid-cols-3 gap-4">
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
      </div>
    </section>
  </main>
</Layout>
