---
import Layout from "../layouts/Layout.astro";
import Progress from "../components/Progress.astro";
import Airtable from "airtable";

const apiKey = import.meta.env.AIRTABLE_API_KEY;

const airtableMock = (() => {
  return {
    select: () => airtableMock("bruh"),
    all: () => [{ get: () => 69420 }],
  };
}) as unknown as ReturnType<Airtable["base"]>;

const base =
  import.meta.env.MODE !== "development" || apiKey
    ? new Airtable({ apiKey: import.meta.env.AIRTABLE_API_KEY }).base(
        import.meta.env.AIRTABLE_BASE_ID
      )
    : airtableMock;

const goalAmount = 100000;

async function getSponsoredAmount() {
  let amount = 0;
  const records = await base("sponsors").select().all();

  records.forEach((record) => {
    amount += +(record.get("Amount") ?? 0);
  });

  return amount;
}

const progress = ((await getSponsoredAmount()) / goalAmount) * 100;
---

<Layout
  title="The โง่ Hackathon ครั้งที่ 7 เเห่งประเทศ Thailand"
  description="หลังจากที่ได้รับการตอบรับเป็นอย่างดีมาตลอดใน The Stupid Hackathon Thailand ทั้ง 6 ครั้ง, ปีนี้เรากลับมาแล้วกับ The โง่ Hackathon ครั้งที่ 7 แห่งประเทศ Thailand!"
>
  <main class="flex flex-col items-center gap-4 px-16">
    <section
      class="flex min-h-screen flex-col items-center justify-center gap-4"
    >
      <img
        src="/7/assets/hand.svg"
        alt="hand"
        class="absolute left-0 top-6 -z-10 w-20 lg:w-fit"
      />
      <img
        src="/7/assets/handandflower.svg"
        alt="handandflower"
        class="absolute right-0 top-6 -z-10 w-60 lg:w-fit"
      />
      <img
        src="/7/assets/handandflower2.svg"
        alt="flower"
        class="absolute bottom-0 left-0 -z-10 w-32 lg:w-fit"
      />
      <img
        src="/7/assets/jar.svg"
        alt="jar"
        class="absolute bottom-0 right-0 -z-10 w-28 lg:w-fit"
      />

      <h1
        class="mb-10 text-4xl font-bold leading-relaxed lg:text-center lg:text-6xl"
      >
        The โง่ Hackathon ครั้งที่ 7<br />เเห่งประเทศ Thailand
      </h1>
      <Progress value={progress} />
      <p class="text-center text-2xl lg:text-4xl">
        สำเร็จ {progress.toFixed(3)}%
      </p>
      <p class="hidden text-center lg:block">
        To make this event happens, we need your money 🫵.
      </p>
      <p class="text-center">
        Visit this <a
          class="underline"
          href="https://creatorsgarten.org/wiki/Sponsorship/sht7">link</a
        > to sponsor us.
      </p>
    </section>
    <section class="">
      <div class="flex flex-col gap-4 pb-32">
        <h2 class="text-bold text-center text-5xl leading-normal">
          <p>Hall of</p>
          <p>เกียรติยศ</p>
        </h2>

        <div class="grid grid-cols-2 gap-14 lg:grid-cols-3">
          <div class="h-32 w-32 bg-white"></div>
          <div class="h-32 w-32 bg-white"></div>
          <div class="h-32 w-32 bg-white"></div>
          <div class="h-32 w-32 bg-white"></div>
          <div class="h-32 w-32 bg-white"></div>
          <div class="h-32 w-32 bg-white"></div>
        </div>
      </div>

      <img
        src="/7/assets/hand2.svg"
        alt="hand"
        class="absolute left-0 -z-10 w-32 lg:w-48"
      />
    </section>

    <section class="flex flex-col items-center justify-center gap-4 py-16">
      <h2 class="text-bold text-center text-5xl">
        <p>Hall of</p>
        <p>คนรวย</p>
      </h2>

      <div class="grid grid-cols-2 gap-x-32 gap-y-4 pb-32 pt-14 lg:grid-cols-3">
        <div class="mx-auto">wit03</div>
        <div class="mx-auto">wit03</div>
        <div class="mx-auto">wit03</div>
        <div class="mx-auto">wit03</div>
        <div class="mx-auto">wit03</div>
        <div class="mx-auto">wit03</div>
        <div class="mx-auto">wit03</div>
        <div class="mx-auto">wit03</div>
        <div class="mx-auto">wit03</div>
        <div class="mx-auto">wit03</div>
        <div class="mx-auto">wit03</div>
        <div class="mx-auto">wit03</div>
      </div>
      <img src="/7/assets/weirdhooman.svg" alt="hooman" class="w-32" />

      <a href="https://creatorsgarten.org" target="_blank" class="mt-64">
        <img src="/7/assets/creators-logo.svg" alt="logo" class="w-32" />
      </a>
    </section>
  </main>
</Layout>
