---
import Layout from "../layouts/Layout.astro";
import Progress from "../components/Progress.astro";
import Airtable from "airtable";

const base = new Airtable({ apiKey: import.meta.env.AIRTABLE_API_KEY }).base(
  import.meta.env.AIRTABLE_BASE_ID
);

const goalAmount = 100000;

async function getSponsoredAmount() {
  let amount = 0;
  const records = await base("sponsors").select().all();

  records.forEach(function (record) {
    amount += +record!.get("Amount");
  });

  return amount;
}

const progress = ((await getSponsoredAmount()) / goalAmount) * 100;
---

<Layout
  title="The โง่ Hackathon ครั้งที่ 7 เเห่งประเทศ Thailand"
  description="หลังจากที่ได้รับการตอบรับเป็นอย่างดีมาตลอดใน The Stupid Hackathon Thailand ทั้ง 6 ครั้ง, ปีนี้เรากลับมาแล้วกับ The โง่ Hackathon ครั้งที่ 7 แห่งประเทศ Thailand!"
>
  <main class="flex flex-col items-center gap-4 px-16">
    <section
      class="flex min-h-screen flex-col items-center justify-center gap-4"
    >
      <h1
        class="mb-10 text-4xl font-bold leading-relaxed lg:text-center lg:text-6xl"
      >
        The โง่ Hackathon ครั้งที่ 7 เเห่งประเทศ Thailand
      </h1>
      <Progress value={progress} />
      <p class="text-center text-2xl lg:text-4xl">สำเร็จ {progress}%</p>
    </section>
    <section class="flex flex-col gap-4 py-16">
      <h2 class="text-6xl font-bold">
        <p>Hall of</p>
        <p>เกียรติยศ</p>
      </h2>

      <div class="grid grid-cols-3 gap-4">
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
      </div>
    </section>
    <section class="flex flex-col gap-4 py-16">
      <h2 class="text-6xl font-bold">
        <p>Hall of</p>
        <p>เกียรติยศ</p>
      </h2>

      <div class="grid grid-cols-3 gap-4">
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
        <div class="h-20 w-20 bg-white"></div>
      </div>
    </section>
  </main>
</Layout>
