<section>
  <div class="flex flex-col gap-4 pb-32">
    <h2 class="text-bold text-center text-5xl leading-normal">
      <p>Hall of</p>
      <p>เกียรติยศ</p>
    </h2>

    <div class="grid grid-cols-2 gap-4 lg:grid-cols-3 lg:gap-16">
      <img
        src="/7/assets/hackth.jpg"
        alt="Hackathon Thailand"
        class="h-24 w-24 rounded-full lg:h-32 lg:w-32"
      />
      <img
        src="/7/assets/thumb.jpeg"
        alt="Thumb"
        class="h-24 w-24 rounded-full lg:h-32 lg:w-32"
      />
      <img
        src="/7/assets/microsoft.png"
        alt="Microsoft Thailand"
        class="h-24 w-24 rounded-full lg:h-32 lg:w-32"
      />
      <img
        src="/7/assets/prog-th.png"
        alt="Programming.in.th"
        class="h-24 w-24 rounded-full lg:h-32 lg:w-32"
      />
      <img
        src="/7/assets/doubledev.png"
        alt="DoubleDev"
        class="h-24 w-24 rounded-full lg:h-32 lg:w-32"
      />
      <img
        src="/7/assets/rdcw.png"
        alt="RDCW"
        class="h-24 w-24 rounded-full lg:h-32 lg:w-32"
      />
      <img
        src="/7/assets/9arm.jpg"
        alt="9ARM"
        class="h-24 w-24 rounded-full lg:h-32 lg:w-32"
      />
      <img
        src="/7/assets/tumpapon.png"
        alt="tumpapon"
        class="h-24 w-24 rounded-full lg:h-32 lg:w-32"
      />
      <img
        src="/7/assets/borntodev.png"
        alt="borntodev"
        class="h-24 w-24 rounded-full lg:h-32 lg:w-32"
      />
      <img
        src="/7/assets/sunday.jpg"
        alt="sunday"
        class="h-24 w-24 rounded-full lg:h-32 lg:w-32"
      />
    </div>
  </div>

  <img
    src="/7/assets/hand2.svg"
    alt="hand"
    class="absolute left-0 -z-10 w-32 lg:w-40 xl:w-fit"
  />
</section>
