<section class="pb-32 pt-20 text-lg lg:px-20">
  <h2 class="text-3xl font-bold">The Stupid Hackathon คืออะไร</h2>
  <div class="flex flex-col items-center justify-center">
    <br />
    <p>
      Stupid Hackathon เป็นงาน Hackathon ที่ถูกจัดทั่วทุกมุมโลก ไม่ว่าจะเป็น New
      York ซึ่งเป็นต้นกำเนิดของงานนี้, San Francisco, Rhode Island, Canada,
      Netherlands, Germany, Austria, Sweden, Norway, Hawaii, UK, Shanghai,
      Singapore (เยอะมากกก) รวมถึงในประเทศไทยด้วย!
    </p>
    <br />
    <p>
      The Stupid Hackathon in Thailand เป็น hackathon
      ที่ไม่ได้มีจุดประสงค์ในเชิงธุรกิจหรือการแข่งขัน
      ความตั้งใจหลักคือเราอยากให้เหล่า makers ได้มาสนุกและปล่อยของผ่าน project
      บ้า ๆ บอ ๆ ที่ไม่มีใครอยากได้ ไม่เน้นเชิงธุรกิจว่า product
      นี้จะใช้งานได้จริงไหม โดยเน้นให้ทุกคนได้มาร่วมสนุกด้วยกันก็พอ
    </p>
    <a
      class="my-8 rounded-full bg-rose-500 px-4 py-2 font-bold text-white hover:bg-rose-700"
      href="https://www.eventpop.me/e/15113/sht7"
    >
      Join Us
    </a>
  </div>
</section>
