<section class="pb-32 pt-20 text-lg lg:px-20">
  <h2 class="text-3xl font-bold">Stream</h2>
  <div class="flex flex-col items-center justify-center">
    <iframe
      width="560"
      height="315"
      src="https://www.youtube.com/embed/VXBSWZPEHcM?si=wxX8hCurVChJhdXX"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>
</section>
